# Лабораторная №2

## Условия, циклы, функции


Нам дали задачу проверить, является ли участок земли квадратным. В переменных `length` и `width` заданы значения длины и ширины участка. Необходимо проверить, является ли он квадратным. Сохраните в переменную `result` значение `True`, если участок квадратный, и `False` — если нет.

In [ ]:
length = 121
width = 100
result = False

#Пример 2
length = 10
width = 10
result = True

In [3]:
# Напиши решение тут
length = 10
width = 10
result = length == width
print(result)

True

Условия выплаты премий сотрудникам зависят от их стажа работы и определяются следующим образом:

- Если стаж работы сотрудника **меньше 3 лет**, премия отсутствует (равна 0).
- Если стаж работы сотрудника **от 3 до 6 лет (включительно)**, премия составляет **2 оклада**.
- Если стаж работы сотрудника **от 7 до 15 лет (включительно)**, премия составляет **5 окладов**.
- Если стаж работы сотрудника **больше 15 лет**, премия составляет **10 окладов**.

Значение заработной платы сотрудника хранится в переменной `salary`, стаж работы — в переменной `work_experience`. Требуется вычислить размер премии и сохранить результат в переменной `result`.

In [ ]:
# Пример 1
salary = 150000
work_experience = 3
result = 300000

# Пример 2
salary = 100000
work_experience = 1
result = 0

# Пример 3
salary = 200000
work_experience = 16
result = 2000000

In [4]:
# Напиши решение тут
salary = 150000
work_experience = 3

if work_experience < 3:
    result = 0
elif 3 <= work_experience <= 6:
    result = 2 * salary
elif 7 <= work_experience <= 15:
    result = 5 * salary
else:
    result = 10 * salary

print(result)

300000

Есть словарь `sales`, содержащий информацию о продуктах и их ценах в магазине. В список `affordable_products` нужно сохранить названия всех продуктов, которые стоят меньше или равны 500.

In [ ]:
sales = {
    "laptop": 700,
    "smartphone": 100,
    "headphones": 50,
    "mouse": 20,
    "keyboard": 40
}
# Output: ['laptop', 700]

In [7]:
# Напиши решение тут
sales = {
    "laptop": 700,
    "smartphone": 100,
    "headphones": 50,
    "mouse": 20,
    "keyboard": 40
}

affordable_products = [product for product, price in sales.items() if price <= 500]
print(affordable_products)

['smartphone', 'headphones', 'mouse', 'keyboard']

Напишите программу, принимающую в виде аргументов два списка `lst_1` и `lst_2` и определяющую, являются ли они противоположными друг другу. Результат проверки сохраните в result в формате True или False.

Каждая пара списков будет состоять из одинаковых элементов (типа a и b). Список считается анти-списком, если все элементы в нем противоположны соответствующим элементам в первом списке.

In [50]:
lst_1 = ["1", "0", "0", "1"]
lst_2 = ["0", "1", "1", "0"]
result = True

lst_1 = [3, 4]
lst_2 = [4, 3]
result = True

lst_1 = [1, 1]
lst_2 = [2, 2]
result = False

In [53]:
# Напиши решение тут
lst_1 = [3, 4]
lst_2 = [4, 3]

result = True

if sorted(lst_1) != sorted(lst_2):
    result = False
else:
    for a, b in zip(lst_1, lst_2):
        if a == b:
            result = False
            break

print(result)

True

Задана переменная `m` — список из списков одинаковой длины. Проверьте, что суммы элементов на диагоналях равны.

Результат проверки сохраните в `result` в формате True или False.

In [ ]:
# Пример 1
m = [[1, 23, 4],
     [3, 2, 1],
     [6, 3, 4]]
result = False

# Пример 2
m = [[1, 23, 4],
     [3, 2, 1],
     [1, 3, 4]]
result = True

In [55]:
# Напиши решение тут
m = [[1, 23, 4],
     [3, 2, 1],
     [6, 3, 4]]

n = len(m)
main_diag_sum = 0
sec_diag_sum = 0

for i in range(n):
    main_diag_sum += m[i][i]
    sec_diag_sum += m[i][n - 1 - i]

result = (main_diag_sum == sec_diag_sum)

print(result)

False

Дан список кортежей `input_list`. Отсортируйте `input_list` по 2 элементу кортежа в порядке убывания. Отфильтруйте список так, чтобы остались только те элементы, второе значение в кортеже у которых кратно 5.

Результат сохраните в `result`.

Для решения задачи используйте lambda-функцию.

In [ ]:
input_list = [('Anna', 13), ('Ivan', 20), ('Irina', 23), ('Olga', 25),
              ('Ivan', 30), ('Oleg', 24), ('Olga', 26)]
result = [('Ivan', 30), ('Olga', 25), ('Ivan', 20)]

In [56]:
# Напиши решение тут
input_list = [('Anna', 13), ('Ivan', 20), ('Irina', 23), ('Olga', 25),
              ('Ivan', 30), ('Oleg', 24), ('Olga', 26)]

result = list(
    filter(lambda x: x[1] % 5 == 0,
           sorted(input_list, key=lambda x: x[1], reverse=True))
)

print(result)

[('Ivan', 30), ('Olga', 25), ('Ivan', 20)]

Гипотеза Коллатца: какое бы начальное натуральное число n мы ни взяли, рано или поздно мы получим единицу, если выполняем следующие преобразования:

- Если n чётное, то делим его на 2;
- Если n нечётное, то умножаем на 3 и прибавляем 1 (получаем 3n + 1).
Напишите функцию `def collatz_conjecture()`, которая будет принимать натуральное число n и возвращать последовательность чисел, полученных указанными выше преобразованиями.

In [ ]:
def collatz_conjecture(n):
    ...

collatz_conjecture(8) # -> [8, 4, 2, 1]
collatz_conjecture(3) # -> [3, 10, 5, 16, 8, 4, 2, 1]

In [58]:
# Напиши решение тут
def collatz_conjecture(n):
    sequence = [n]
    while n != 1:
        if n % 2 == 0:
            n = n // 2
        else:
            n = 3 * n + 1
        sequence.append(n)
    return sequence

print(collatz_conjecture(8))
print(collatz_conjecture(3))

[8, 4, 2, 1]
[3, 10, 5, 16, 8, 4, 2, 1]